.background{
    position: absolute;
    /* background-position: center; */
    /* background-image: url("img/background3.png"); */
    background-repeat: no-repeat;
    background-size:contain;
    height: 700px;
    width: 900px;
    margin-top: 0;
    padding-top: 0;
    z-index: -1;
    /* background-color: aqua; */
}
.font{
    color: pink;
}
.player{
    position: absolute;
    display: flex;
    width: 300px;
    bottom:28%;
    left:10%;
    z-index: -2;
}
.playerName{
    position: absolute;
    display: flex;
    width: 350px;
    bottom:60%;
    left:22%;
    text-transform: capitalize;
}
.player:hover{
    width: 400px;
}
.enemy{
    position: absolute;
    display: flex;
    width: 250px; 
    bottom:52%;
    left:60%;
    z-index: -2;
}
.enemyName{
    position: absolute;
    display: flex;
    width: 350px;
    bottom:82%;
    left:67%;
    text-transform: capitalize;
    z-index: -1;
}
.hpDiv{
    margin-right: 66%;
    width: fit-content;
    /* color: antiquewhite; */
}

.scrollBar ::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}